  .parent-main-container {
     margin: 5%;
   }
   .menu-text {
     text-transform: capitalize;
   }
   .slideContainer {
      text-align: center;
      margin: 0% 16% 0% 16%;
      float: left;
      width: 68%;
      min-height: 100%;
   }
   .bg-color {
      background-color: gray;
      height: 100%;
   }

   .background-gray {
    background-color: gray;
    height: 100% !important;
   }

   .top-align {
      float: left;
      width: 100%;
      height: 66%;
      margin: 7% 0% 0% 0%;
      /*margin: 7% 0% 0% 0%;
      margin-top: auto;*/
      // align-items: center;
      // position: relative;
      // top: 50%;
      // height: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      // transform: -webkit-translate(-50%, -50%);
      // transform: -ms-translate(-50%, -50%);
      // float: left;
      // width: 100%
   }

  .outer {
    display: table;
    position: absolute;
    height: 53%;
    width: 100%;
  }

  .outer-explore {
    display: table;
    position: absolute;
    height: 81%;
    width: 100%;
  }

  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner {
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
  }

   .top-align-second-case {
      float: left;
      width: 100%;
      height: 83%;
      margin: 3% 0% 0% 0%;
      overflow-y: auto;
   }

   scroll-content {
     margin-bottom: 0px !important;
   }
   .royal-menu-container {
      width: 100%;
      color: #fff;
      float: left;
      height: 20%;
      margin: 0% 0% 3% 0%;
   }

   .center-menu-container {
      float: left;
      width: 100%;
      height: 110px;
   }
   
   .inner-border-box {
      float: left;
      width: 98%;
      height: 90%;
      border: 5px solid #000;
    
      button {
        background-color: transparent !important;
        box-shadow: none !important;
        border: none !important;
        margin: 0rem !important;
        padding: 2.5% 0% 0% 0%;
        font-size: 100%;
        font-family: sans_medium;
      }
   }
   
   .HtmlSlideContainer {
     text-align: center;
     margin: 1% 10% 1% 10%;
   }
   
   .royal-menu-container-html {
      width: 100%;
      color: #000;
      float: left;
      min-height: 20px;
      margin: 0% 0% 2% 0%;
   }
   .center-menu-container-html {
      float: left;
      width: 100%;
      height: 100%;
   }
   .inner-border-html-box {
      float: left;
      width: 100%;
      height: 90%;
      border-bottom: 5px solid #000;
   }
   .html-menu-title-container {
      float: left;
      width: 91%;
      height:100%;
      color: #000;
   }
   .html-menu-title {
      float: left;
      margin: 1% 0% 0% 5%;
      font-size: 20px;
      font-family: sans_regular;
      color: #000;
      word-wrap: break-word;
      text-align: left;
      text-transform: capitalize;
   }
   .html-arrow-container {
      float: left;
      width: 9%;
      color: #fff;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 95%;
      top: 56%;
   }
   .html-arrow-icon {
     float: right;
     margin: 1%;
     img{height:12px;}
   }
   .text-logo {
      float: left;
      width: 70%;
      height: 30%;
      margin: 5% 17% 0% 5%;
   }
   .text-logo img {
    width: 100%;
    height: 21vh;
  }
   .top-text-container {
      float: left;
      width: 100%;
      height: 90%;
      position: relative;
   }
   
   .active {
    width: 100%;
    height: 100%;
   }

   .active:hover {
    width: 100%;
    height: 110%;
    background-color: rgba(128, 128, 128, 0.31);
    opacity: 0.5;
   }

   .bottom-icon-container {
      float: left;
      width: 100%;
      margin-top:-10px;
   }
   .floating-boarder1 {
      float: left;
      width: 50%;
      height: 5px;
      background-color: #000;
   }
  .floating-boarder2 {
      float: left;
      width: 2%;
      height: 99px;
      background-color: #000;
   }
   .floating-boarder3 {
      float: left;
      width: 2%;
      height: 99px;
      background-color: #000;
   }
   .menu-title-container {
      float: left;
      width: 79%;
      height:100%;
      color: #fff;
   }
   .menu-title {
      float: left;
      margin: 3% 0% 0% 5%;
      font-size: 171%;
      font-family: sans_medium;
      color: #000;
      word-wrap: break-word;
      text-align: left;
      text-transform: uppercase;
   }

   .arrow-container {
      float: left;
      width: 20%;
      height:100%;
      color: #fff;
   }
   .video-icon {
      float: left;
      margin: 45% 10% 0% 0%;
   }
   
   .bottom-arrow-icon {
      float: left;
      width: 13%;
      img{width:11px; height:7px;}
   }
   .arrow-icon {
     float: right;
     margin: 12%;

     img{height:12px;}
   }

  .breadcrumb-container {
    font-family: sans_medium;
    font-size: 20px;
    text-transform: uppercase;
    color: #808080;
    margin-top: 1.8%;
    height: 8.3%;
  }

  .background-blinker {
    /*background: linear-gradient(320deg, #E4903C,#F5D0A9,#FF8001,#68BDF5,#D64EC4,#AAB66B,#B44080,#569BC9,#CE5196,#6D91A9,#F5D0A9,#F5D0A9,#6D91A9,#569BC9);*/
    background: linear-gradient(320deg, #F7BC92,#ECC19B,#DEC8A3,#A6DEC5,#F7BC92,#8AE8D6,#ECC19B,#8AE8D6,#DEC8A3,#A6DEC5,#F7BC92,#F7BC92,#A6DEC5,#8AE8D6);
    background-size: 600% 800%;
    -webkit-animation: AnimationName 200s ease-in infinite;
    -moz-animation: AnimationName 200s ease-in infinite;
    animation: AnimationName 200s ease-in infinite;
  }
  
  @-webkit-keyframes AnimationName {
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
  }
  @keyframes AnimationName { 
    0%{background-position:79% 0%}
    50%{background-position:22% 100%}
    100%{background-position:79% 0%}
  }

  .align-me {
    float: right;
    width: 7%;
  }

  .align-me-now {
    float: right;
    width: 5%;
    margin-top: 5.4%;
    img { height: 4vh; }
  }

  .gb-color {
    background-color: gray;
    height: 5.9%;
    box-shadow: 0px -3px 5px rgba(0,0,0,0.15);
    border-top: 2px solid gray;
  }


  .down-scroll-container {
    float: left;
    width: 62%;
  }

  .manage-me {
    margin-top: 2.5%;
    img{ 
      width:15px;
      height:21px;
      margin-left: 56%;
    }
  }

  .back-container {
    float: left;
    width: 90%;
    height: 0vh;
    margin: -10% 0% 3% 10%;
    cursor:pointer;
  
    .backbtn {
      float: right;
      width: 30%;
      height: 100%;
      font-size: 110%;
      color: #585353;
      font-weight: bold;

      img{height:15px; width:12px;}
    }
  }

  .web-page-link-container {
    width: 34%;
    font-size: 10px;
    float: right;
    margin: 5.3% 1.5% 0% 0%;
    a {
      width: 100%;
      text-decoration: none;
      text-align: right;
      color: #000;
    }
    a:hover {
      width: 100%;
      text-align: right;
      text-decoration: none;
      color: #000;
    }
  }
  
.platform-container {
  width: 100%;
  text-transform: uppercase;
  font-size: 171%;
  color: #000;
  font-family: sans_medium;
  
  .platform-text {
    float: left;
    margin: 3% 0% 0% 5%;
  }
}

/*UI for iPhone 5 & 5S Resolutions (320 × 568)*/
@media only screen
and (min-device-width : 320px) and (max-device-width : 568px)
 {
  .web-page-link-container {
    width: 36%;
    font-size: 10px;
    margin: 5.3% 2% 0% 0%;
  }
}

@media only screen 
and (min-device-width : 768px) and (max-device-width : 1024px) 
 {
  .back-container .back-text img{height:25px;width:20px;}
  .back-container .backbtn {font-size:230%;font-weight: bolder;}
  .back-container { margin: -17% 0% 0% 18%;}
  .center-menu-container {height: 210px;}
  .menu-title {font-size: 280%;font-weight: bolder; }
  .html-arrow-icon img, .arrow-icon img{ height:24px; }
  .html-menu-title{font-size: 32px;}
  .floating-boarder2,.floating-boarder3 {height: 189px;margin-left: -1px;}
  .floating-boarder1 {height: 7px;margin-top: -1px;}
  .top-align {margin: 8% 0% 15% 0%;}
  .gb-color {height:8% !important;}
  .manage-me img{height:40px;width:60px;}

   .text-logo {
    width: 71%;
    height: 300px;
  }
  .text-logo img {
    width: 425px;
    height: 220px;
  }
  .bottom-arrow-icon img{height:18px;width:22px;}

  .align-me-now img { height:50px; }
}

/*UI for iPhone 5 & 5S Resolutions (375 × 667)*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
{
  .video-icon {
      float: left;
      margin: 45% 10% 0% 0%;
   }
}

@keyframes example {
 0% {
 left:   -275px;
}
50% {
 left:   200px;
}
100% {
 left:-275px;
}
}
.test {
  position:absolute;
  left:-572px;
  background:red;
  width:  572px;
  height: 400px;
}
#click:checked + .test {
  -webkit-animation: example 4s ;
  animation: example 4s ;
}
#click {
  position:absolute;
  visibility:hidden
}