<ion-content style="overflow-y: hidden;" class="background-blinker pt-perspective">
   <ion-row ion-refresher responsive-md responsive-sm responsive-lg>
      <ion-col>
         <a href="#" (click)="goToHome()" style="text-decoration: none">
            <div class="text-logo">
               <div *ngIf="(selectedId != 3)">
                  <img src="img/logo-the-art.png">
               </div>
               <div *ngIf="(selectedId == 3)">
                  <img style="height: 4.7vh; margin-top: 1%" src="img/mindfullness.png">
               </div>
            </div>
         </a>
         <span menuToggle class="align-me-now" fab-fixed>
         <img src="img/greater-than.png" >
         </span>
      </ion-col>
   </ion-row>
   <div class="breadcrumb-container" style="margin-left: 5.3%">
      <div *ngFor="let bcrumb of (breadcrumbs); let i = index ">
         <div (click)="goBack()">
            <div style="float: left;">
               <div *ngIf="(i == 0)">
                  <ion-grid> <ion-row> explore > <div class="animated slideInRight"> {{'&nbsp;'+bcrumb}}</div> </ion-row> </ion-grid>
               </div>
            </div>
         </div>
      </div>
   </div>
   <ion-row>
      <div [ngClass]="selectedId == 3 ? 'top-align-second-case' : 'outer'">
         <ion-scroll scrollY="true" direction="y" style="width: 100%; height: 100%">
            <div class="middle">
               <div *ngFor="let menu of subMenus">
                  <div class="#" *ngIf="(menu.parent_id == listMenuId)">
                     <div *ngIf="(menu.type=='list')">
                        <div class="slideContainer">
                           <div class="royal-menu-container">
                              <div *ngIf="(menu.border_type == 3)">
                                 <div class="floating-boarder1">
                                 </div>
                              </div>
                              <div class="center-menu-container">
                                 <div class="inner-border-box">
                                    <button class="top-text-container" *ngIf="(menu.stage == 'empty')" (click)="exploreMenuList($event, menu.id, menu.parent_id, selectedTitle, menu.title)">
                                       <div class="menu-title-container" >
                                          <div class="menu-title module">
                                             {{menu.title}}
                                          </div>
                                       </div>
                                       <div class="arrow-container">
                                          <div class="arrow-icon">
                                             <img src="img/greater-than.png">
                                          </div>
                                       </div>
                                    </button>
                                 </div>
                                 <div *ngIf="(menu.border_type == 2)">
                                    <div class="floating-boarder2">
                                    </div>
                                 </div>
                                 <div *ngIf="(menu.border_type == 1)">
                                    <div class="floating-boarder1">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </ion-scroll>
      </div>
   </ion-row>
</ion-content>
<ion-footer class="gb-color">
   <div class="down-back-container">
      <button class="down-scroll-container" (click)="goBack()">
         <div class="manage-me">
            <img src="img/less-than.png">
         </div>
      </button>
   </div>
</ion-footer>
