div.selection {
  font-size: 22px;
  //width: 60%;
  display: block;
  text-align: center;
  margin: 3% 10% 3% 10%;
}

.button-font {
  float: left;
  color: white;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: cursive;
}

