@font-face {
	font-family: 'sans_medium';
	src: url('fonts/SanFranciscoDisplay-Medium.otf');
	
}

@font-face {
	font-family: 'sans_regular';
	src: url('fonts/SanFranciscoText-Regular.otf');
	
}

/*a {color:#7EC349;}*/

body {
    font-family: sans_regular !important;
    /*font-size: 15px;*/
    text-align: justify;
    /*line-height:1.5;*/	
}

* {
   -webkit-user-select: none;
}
