.swiper-slide {
  float:left;
  background-color: gray;
  width: 100%;
  height:100%;
}

.home-page-container {
  float: left;
  width: 90%;
  height: 96%;
  margin-top: 5%;

  button {
    background-color: transparent !important;
    box-shadow: none;
    border: none; 
  }

  .home-page-main-title {
    width: 100%;
  
    .human-being-title {
      float: left;
      width: 76%;
    }
    .up-arrow-container {
      width: 14%;
      float: right;
      margin: 2% 0% 0% 0%;
      height: 4vh;
    }
  }
}
.home-inner-main-container {
    /* background-color: #939598; */
    width: 88%;
    height: 65%;
    float: left;
    margin: 5% 0% 0% 5%;

    .top-inner-container {
      width: 100%;
      height: 2.3%;
      float: left;
    
    .top-right-border {
      background-color: black;
      width: 42%;
      height: 100%;
      float: right;
      margin: 0% 3%;
    }
  }
}

  .middle-inner-container {
    width: 100%;
    height: 96%;
    float: left;

    .mid-left-container {
      width: 3%;
      height: 100%;
      float: left;
        
      .side-left-top-border {
        background-color: black;
        width: 100%;
        height: 33%;
        float: left;
      }
    }

    .mid-center-container {
      width: 94%;
      height: 100%;
      float: left;
      border: 3px solid black;

      .mid-center-top-container {
        width: 100%;
        height: 33%;
        float: left;
          
          .explore-outer-container {
            width: 11%;
            height: 100%;
            float: left;

            button {
              background-color: transparent ;
              box-shadow: none;
              border: none; 
            }
            
            .explore-rotate-text {
              transform: rotate(90deg);
              float: left;
              font-size: 22px;
              font-kerning: inherit;
              font-family: sans_medium;
              margin-top: 80%;
              margin-left: -155%;
              font-weight: bold;
              color : #000;
              text-transform: uppercase;
            }
          }

          .challenges-outer-container {
            width: 38%;
            margin-top: 2vh;
            height: 35%;
            float: right;
            
            .challenges-simple-text {
              font-weight: bold;
              text-transform: uppercase;
              font-kerning: inherit;
              font-family: sans_medium;
              font-size: 22px;
              float: right;
              color : #000;
              margin: -24% -14% 0% 0%;
            }
          }
        }

        .mid-center-middle-container {
          width: 100%;
          height: 34%;
          float: left;
        }

        .mid-center-bottom-container {
          width: 100%;
          height: 33%;
          float: left;

          .meditate-main-container {
            width: 50%;
            height: 100%;
            float: left;
                  
            .meditate-rotate-text {
              font-weight: bold;
              text-transform: uppercase;
              font-kerning: inherit;
              font-family: sans_medium;
              font-size: 22px;
              color : #000;
              margin: 57% 0% 0% -10%;
            }
          }
 
          .read-main-container {
            width: 50%;
            height: 100%;
            float: right;

            .read-inner-container {
              width: 18%;
              margin-top: 44%;
              height: 51%;
              float: right;

              .read-text {
                float: right;
                color : #000;
                font-size: 22px;
                font-kerning: inherit;
                font-family: sans_medium;
                font-weight: bold;
                transform: rotate(90deg);
                text-transform: uppercase;
                margin: 5% -130% 0% 0%;
              }
            }
          }
        }
      }

      .mid-right-container {
        width: 3%;
        height: 100%;
        float: left;

        .top-right-empty-border {
          width: 100%;
          height: 67%;
          float: left;
        }
        
        .side-right-bottom-border {
          background-color: black;
          width: 100%;
          height: 33%;
          float: left;
        }
      }
    }

.bottom-inner-container {
  width: 100%;
  height: 2.3%;
  float: left;
  margin-top: 0%;

  .bottom-left-border {
    background-color: black;
    width: 42%;
    height: 100%;
    float: left;
    margin: 0% 0% 0% 3%;
  }
}