.parent-main-container {
     margin: 5%;
   }
   .menu-text {
     text-transform: capitalize;
   }
   .slideContainer {
    width: 60%;
    text-align: center;
    margin: 0% 14%;
   }
   .bg-color {
    background-color: #fff;
    height: 100%;
   }
   .top-align {
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    float: left;
    width: 100%
   }
   .royal-menu-container {
    width: 100%;
    color: #fff;
    float: left;
    height: 73px;
    margin: 2% 0% 0% 0%;
   }
   .inner-border-box {
    float: left;
    width: 94%;
    height: 82%;
    margin: 3% 3% 3% 3%;
    border: 3px solid #000;
   }
   .menu-title-container {
    float: left;
    width: 80%;
    height:100%;
    color: #fff;
   }
   .menu-title {
    float: left;
    margin: 3% 0% 0% 5%;
    font-size: 20px;
    font-family: -webkit-body;
    color: #000;
    word-wrap: break-word;
   }
   .arrow-container {
    float: left;
    width: 20%;
    height:100%;
    color: #fff;
   }
   .in-arrow {
    float: right;
    margin: 1%;
   }
  
