.swiper-slide {
  float:left;
  background-color: gray;
  width: 100%;
  height:100%;
}

.home-page-container {
  float: left;
  width: 90%;
  height: 94%;
  margin-top: 3%;

  button {
    background-color: transparent !important;
    box-shadow: none;
    border: none; 
  }

  .home-page-main-title {
    width: 100%;
  
    .human-being-title {
      float: left;
      width: 76%;
    }
    .up-arrow-container {
      width: 9%;
      float: right;
      margin: 2% -2% 0% 0%;
      height: 5vh;
    }
  }
}
.home-inner-main-container {
    /* background-color: #939598; */
    width: 88%;
    height: 68%;
    float: left;
    margin: 5% 0% 0% 6%;

    .top-inner-container {
      width: 100%;
      height: 2.3%;
      float: left;
    
    .top-right-border {
      background-color: black;
      width: 42%;
      height: 100%;
      float: right;
      margin: 0% 3%;
    }
  }
}

  .middle-inner-container {
    width: 100%;
    height: 96%;
    float: left;

    .mid-left-container {
      width: 3%;
      height: 100%;
      float: left;
        
      .side-left-top-border {
        background-color: black;
        width: 100%;
        height: 33%;
        float: left;
      }
    }

    .mid-center-container {
      width: 94%;
      height: 100%;
      float: left;
      border: 5px solid black;

      .mid-center-top-container {
        width: 100%;
        height: 33%;
        float: left;
        margin-top: 5%;
          
          .explore-outer-container {
            width: 11%;
            height: 100%;
            float: left;

            button {
              background-color: transparent ;
              box-shadow: none;
              border: none; 
            }
            
            .explore-rotate-text {
              transform: rotate(90deg);
              float: left;
              font-size: 23px;
              font-kerning: inherit;
              font-family: sans_medium;
              margin-top: 46%;
              margin-left: -93%;
              color : #000;
              text-transform: uppercase;
            }
          }

          .challenges-outer-container {
            width: 38%;
            margin-top: 2vh;
            height: 35%;
            float: right;
            
            .challenges-simple-text {
              text-transform: uppercase;
              font-kerning: inherit;
              font-family: sans_medium;
              font-size: 23px;
              float: right;
              color : #000;
              margin: -23% 0% 0% 0%;
            }
          }
        }

        .mid-center-middle-container {
          width: 100%;
          height: 34%;
          float: left;
        }

        .mid-center-bottom-container {
          width: 100%;
          height: 33%;
          float: left;

          .meditate-main-container {
            width: 60%;
            height: 100%;
            float: left;
                  
            .meditate-rotate-text {
              text-transform: uppercase;
              font-kerning: inherit;
              font-family: sans_medium;
              font-size: 23px;
              color : #000;
              float: left;
              margin: 50% 0% 0% 0%;
            }
          }
 
          .read-main-container {
            width: 40%;
            height: 100%;
            float: right;

            .read-inner-container {
              width: 18%;
              margin-top: 40%;
              height: 51%;
              float: right;

              .read-text {
                float: right;
                color : #000;
                font-size: 23px;
                font-kerning: inherit;
                font-family: sans_medium;
                transform: rotate(90deg);
                text-transform: uppercase;
                margin: 125% -27% 0% 0%;
              }
            }
          }
        }
      }

      .mid-right-container {
        width: 3%;
        height: 100%;
        float: left;

        .top-right-empty-border {
          width: 100%;
          height: 67%;
          float: left;
        }
        
        .side-right-bottom-border {
          background-color: black;
          width: 100%;
          height: 33%;
          float: left;
        }
      }
    }

.bottom-inner-container {
  width: 100%;
  height: 2.3%;
  float: left;
  margin-top: 0%;

  .bottom-left-border {
    background-color: black;
    width: 42%;
    height: 100%;
    float: left;
    margin: 0% 0% 0% 3%;
  }
}

up-arrow-container img {
  height: 30vh !important;
  width: 100% !important;
}

/*UI for iPad resulation 768 X 1024*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .human-being-title {
    float: left;
    width: 100%;
  }
  .logo {
    width: 80%;
  }

  .logo img {
    width: 425px;
    height: 220px;
  }

  .align-me-now {
    width:4%;
  }

  .up-arrow-container {
    width: 10% !important;
    float: right;
    margin-top: 0% !important;
    height: 5vh !important;
  }

  .explore-rotate-text {
    font-size: 40px !important;
    margin-top: 56% !important;
    margin-left: -145% !important;
  }

  .challenges-simple-text {
    font-size: 40px !important;
    margin: -22% -10% 0% 0% !important;
  }

  .meditate-rotate-text  {
    font-size: 40px !important;
    margin: 40% 0% 0% -9% !important;
  }

  .read-text {
    font-size: 40px !important;
    margin: -85% -100% 0% 0% !important;
  }
}
/*@media only screen and (min-device-width : 375px) and (max-device-width : 667px){
  .up-arrow-container {
    width: 10% !important;
    margin: 2.3% -2% 0% 0% !important;
    height: 5vh !important;
  }
}*/

/*UI for iPhone 5 & 5S Resolutions (320 × 568)*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  .main-container {
    height: 100.5%;
  }
  .side-right-bottom-border {
    height: 33.1% !important;
  }
}
