<ion-menu [content]="content" side="right" class="side-menu">
   <ion-row class="title-main-container">
      <div class = "col-67 inner-title">
         Mindfulness:
      </div>
      <div menuToggle class = "col-20 top-toggle">
         <img src="img/less-than.png" width="15" height="25">
      </div>
   </ion-row>
   <ion-content style="background-color: #999;">
      <ion-list right>
         <div class="#" *ngFor="let p of pages" (click)="openPage(p)">
         <div *ngIf="(p.type == 'main menu')">
            <div class="main-menu-container">
               {{p.title}}
            </div>
         </div>
         <div *ngIf="(p.type == 'sub menu')">
            <div class="sub-menu-container">
               <a>{{p.title}}</a>
            </div>
         </div>
         </div>
      </ion-list>
   </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<style type="text/css">
  .main-menu-container {
    width: 70%;
    float: left;
    margin: 7% 0% 0% 25%;
    text-transform: uppercase;
  }
  .sub-menu-container {
    width: 70%;
    float: left;
    margin: 1.3% 0% 0% 30%;
  }
  .sub-menu-container a {
    text-decoration: none;
    color: #000;
  }
  .sub-menu-container a:hover {
    text-decoration: none;
    color: #fff;
  }
  .toolbar-background {
    background-color: #999 !important;
  }
  .side-menu {
    width: 100%;
  }
  .title-main-container {
    background-color: #999;
    text-align: left;
    padding: 4% 0% 1% 5%;
    color: #000;
    font-weight: bold;
  }
  .inner-title {
    float: left;
    width: 88%;
    background-color: #999;
    font-size: 32px;
    text-transform: uppercase;
    font-family: sans-serif;
  }
  .top-toggle {
    float: left;
    width: 8%;
  }
</style>