<ion-menu [content]="content" side="right" class="side-menu">
   <ion-row class="title-main-container">
      <div class = "col-67 inner-title">
         <img src="img/mindfullness.png" width="245" height="30">
      </div>
      <div menuToggle class = "col-20 top-toggle">
         <img src="img/less-than.png" width="15" height="25">
      </div>
   </ion-row>
   <div class="content-backdrop"></div>
   <ion-content style="background-color: gray;">
      <ion-list right>
        <div *ngFor="let p of pages">
          <div *ngIf="(p.type == 'main menu')">
             <div class="main-menu-container module animated fadeInUp">
                <!-- <a style="text-decoration:none;color:#000" (click)="openPage(p)">{{p.title}}</a> --> 
                {{p.title}}
             </div>
          </div>
          <div *ngIf="(p.type == 'sub menu')">
             <div class="sub-menu-container module animated fadeInUp">
                <a (click)="viewPage(p.component)">{{p.title}}</a>
             </div>
          </div>
        </div>
        <ion-row class="bottom-bar">
          <ion-col width-100>
          </ion-col>
        </ion-row>
      </ion-list>
   </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>


<style type="text/css">
  .main-menu-container {
    width: 70%;
    float: left;
    margin: 5% 0% 0% 25%;
    text-transform: uppercase;
    font-size: 16px;
  }
  .sub-menu-container {
    width: 70%;
    float: left;
    font-size: 16px;
    margin: 0% 0% 0% 30%;
  }
  .sub-menu-container a {
    text-decoration: none;
    color: #000;
  }
  .sub-menu-container a:hover {
    text-decoration: none;
    color: #fff;
  }
  .toolbar-background {
    background-color: gray !important;
  }
  .side-menu {
    width: 100%;
    opacity: 0.97;
  }
  .title-main-container {
    background-color: gray;
    text-align: left;
    padding: 4% 0% 1% 5%;
    color: #000;
    font-weight: bold;
  }
  .inner-title {
    float: left;
    width: 88%;
    background-color: gray;
    font-size: 32px;
  }
  .top-toggle {
    float: left;
    width: 8%;
    margin-top: 2%;
  }
  .bottom-bar {
    float: left;
    width: 100%;
    height: 20px;
  }
</style>