.video {

  .videoPlayer {
	width:100%;
   }

}

.GrayHtmlSlideContainer {
  text-align: center;
  margin: 1% 2% 1% 2%;
}

.gb-color {
  background-color: gray;
  height: 5.9%;
  box-shadow: 0px -3px 5px rgba(0,0,0,0.15);
  border-top: 2px solid gray;
}

.GrayPagetext-logo {
   float: left;
   width: 70%;
   height: 30%;
   margin: 6% 0% 0% 1.5%;
   img {
   	height: 21vh;
   }
}

.GrayPagetext-Mindfull-logo {
   float: left;
   width: 70%;
   height: 30%;
   margin: 6% 0% 0% 1.5%;
   img {
      height: 4.8vh;
      margin-top: -1%;
   }
}

.Grayalign-me-now {
  float: right;
  width: 25%;
  margin-top: 6%;
  img {
    height: 4vh;
    float: right;
  }
}

.video-outer {
  display: table;
  position: absolute;
  height: 97%;
  width: 100%;
}

.video-royal-menu-container-html {
  width: 91%;
  color: #000;
  float: left;
  min-height: 20px;
  margin: 0% 0% 2% 0%;
}

.Graytop-align {
  float: left;
  position: relative;
  width: 100%;
  height: 64%;
  margin: 3% 0% 0% 0%;
}

.gray-html-menu-title-container {
    float: left;
    width: 91%;
    height: 14vh;
    color: #000;
}

.breadcrumb-container {
  font-family: sans_medium;
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  margin-top: 1.8%;
}

[padding], [padding] scroll-content {
	padding-top: 0px;	
}

.day-container{
    font-family: sans_regular;
    width: 100% !important;
    float: left;
    font-weight: normal !important;
    font-size: 155%;

  .day-text {
    float: left;
    margin: 0% 0% 0% 5%;
  }
}

.module-time-container {
  float: left;
  width: 100%;
  height: 4%;
    .time-text {
      float: left;
      width: 90%;
      margin: 2% 0% 2% 5%;
      text-align: left;
      color: #333;
      margin-top: 9%;
    }
}
