ion-slide img {
   height: 30vh !important;
   width: 100% !important;
}

.swiper-button-prev{
  height:25px;
  left:25px;
}

.swiper-button-next{
  height:25px;
  right:25px;
}

.view-text-logo {
  float: left;
  width: 87%;
  height: 30%;
  margin: 9% 0% 0% 3%;
}

.view-align-me-now {
  float: right;
  width: 10%;
  margin-top: 8%;
}

.gb-color {
  background-color: gray;
  height: 10%;
  box-shadow: 0px -3px 5px rgba(0,0,0,0.15);
  border-top: 2px solid gray;
}
.manage-me {
  margin-top: 4.4%;
}

.webPage {
  width: 100%;
  height: 100%;
  background-color: #999;
}

.gray-background {
  background-color: gray;
  height: 100%;
}

.slider-toggle {
  float: left;
  width:100%;
  margin-top: -30%;
}

.scroller {
white-space: nowrap;
overflow: auto;
}

.ifo-container {
  width: 100%;
  height: 40%;
}
.iframe_container {
  overflow: auto; 
  position: relative; 
  -webkit-overflow-scrolling: touch;
   height:66%;
   margin-top: 10%;
}

iframe {
  position:relative;
  border: 0 !important;
  width: 100%;
  height: 100%;
  padding: 1% 2% 1% 4%;
}

.back-container {
  float: left;
  width: 90%;
  height: 0vh;
  margin: -10% 0% 3% 10%;
  cursor:pointer;
  
  .backbtn {
    float: right;
    width: 30%;
    height: 100%;
    font-size: 110% !important;
    color: #585353;
    font-weight: bold;
    img{height:15px; width:12px;}
  }
}
/*UI for iPad 768 X 1024*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
 {
  .text-logo {
    width: 71%;
    height: 300px;
  }
  
  .text-logo img {
    width: 425px;
    height: 220px;
  }

  .back-container .back-text img {
    height:30px;
  }

  .back-container .backbtn {
    font-size:210%;
    margin-top: -50px;
  }

  .back-container {
    margin: -10% 0% 0% 18%;
    z-index: 1;
  }

  .align-me-now {
    width:4%;
  }
}
