<!-- <ion-header>
   <ion-navbar>
      <ion-title>view Page</ion-title>
   </ion-navbar>
   </ion-header> -->
<div class="gray-background scroller">
   <ion-row responsive-sm>
      <ion-col width-80>
         <div class="text-logo animated zoomIn">
            <img src="img/logo-the-art.png" width="250" height="135">
         </div>
         <span menuToggle class="align-me-now" fab-fixed>
            <img src="img/greater-than.png" width="15" height="25">
         </span>
      </ion-col>
         <div class="back-view-container" (click)="goBack()">
            <div class="back-text animated slideInRight"> <img height="10" src="img/back-me.png" width="8"> Back </div>
         </div>
   </ion-row>
   <!-- <ion-col width-100>
      <ion-slides #mySlider  [options]="mySlideOptions">
      <ion-slide>
         <div class="slide-container">
            <img src="img/mindfulness_part_two.jpg">
         </div>
      </ion-slide>
      <ion-slide>
         <div class="slide-container">
            <img src="img/hat.jpg">
         </div>
      </ion-slide>
      <ion-slide>
         <div class="slide-container">
            <img src="img/online.jpg" >
         </div>
      </ion-slide>
      </ion-slides>
      <div class="slider-toggle">
         <div  (ionDidChange)="onSlideChanged()" class="swiper-button-prev"></div>
         <div (ionWillChange)="onSlideChanged()" class="swiper-button-next"></div>
      </div>
   </ion-col> -->
   <!-- {{page}} -->
   <div class="#">
      <iframe class= "animated fadeInUp" id="iframe1" [src]='page' width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      <img src="img/video-icon.png">
      </iframe><br>
   </div>
</div>
<ion-footer class="bar-stable gb-color">
   <center class="manage-me" (click)="scrollTo()">
      <img src="img/arrow-down.png" width="25" height="15">
   </center>
</ion-footer>
