ion-slide img {
   height: 30vh !important;
   width: 100% !important;
}

.swiper-button-prev{
  height:25px;
  left:25px;
}

.swiper-button-next{
  height:25px;
  right:25px;
}

.view-text-logo {
  float: left;
  width: 87%;
  height: 30%;
  margin: 9% 0% 0% 3%;
}

.view-align-me-now {
  float: right;
  width: 10%;
  margin-top: 8%;
}

.gb-color {
  background-color: gray;
  height: 8%;
}
.manage-me {
  margin-top: 5%;
}

.webPage {
  width: 100%;
  height: 100%;
  background-color: #999;
}

.gray-background {
  background-color: #999;
  height: 100%;
}

.slider-toggle {
  float: left;
  width:100%;
  margin-top: -30%;
}

.scroller {
white-space: nowrap;
overflow: auto;
}

.ifo-container {
  width: 100%;
  height: 40%;
}

iframe {position:absolute;
   z-index:1;
   top: 30%;
   left: 5%;
   border: 0 !important;
   width: 90%;
   height: 63%;
}

.back-container {
  float: left;
  width: 30%;
  height: 5vh;
  margin: -12% 0% 0% 3%;
  cursor:pointer;

  .back-text {
    float: left;
    width: 100%;
    height: 100%;
    font-size: 120%;
    color: #585353;
    font-weight: bold;
  }
}

