.view {
	.text-logo {
      float: left;
      width: 87%;
      height: 30%;
      margin: 9% 0% 0% 3%;
   }

   .align-me-now {
    float: right;
    width: 10%;
    margin-top: 8%;
   }
   
   .gb-color {
    background-color: gray;
    height: 8%;
   }

   .manage-me {
     margin-top: 5%;
   }
}
