<!-- <ion-header>
   <ion-navbar>
      <ion-title>view Page</ion-title>
   </ion-navbar>
   </ion-header> -->
<ion-content overflow-scroll="true" class="gray-background">
         <ion-row responsive-md responsive-sm responsive-lg >
            <ion-col >
               <div class="text-logo animated zoomIn">
                  <img src="img/logo-the-art.png" >
               </div>
               <span menuToggle class="align-me-now" fab-fixed>
               <img src="img/greater-than.png" >
               </span>
            </ion-col>
               <div class="back-container" (click)="goBack()">
                  <div class="back-text animated slideInRight"> <img src="img/back-me.png" > Back </div>
               </div>
         </ion-row>
   <!-- <ion-col width-100>
      <ion-slides #mySlider  [options]="mySlideOptions">
      <ion-slide>
         <div class="slide-container">
            <img src="img/mindfulness_part_two.jpg">
         </div>
      </ion-slide>
      <ion-slide>
         <div class="slide-container">
            <img src="img/hat.jpg">
         </div>
      </ion-slide>
      <ion-slide>
         <div class="slide-container">
            <img src="img/online.jpg" >
         </div>
      </ion-slide>
      </ion-slides>
      <div class="slider-toggle">
         <div  (ionDidChange)="onSlideChanged()" class="swiper-button-prev"></div>
         <div (ionWillChange)="onSlideChanged()" class="swiper-button-next"></div>
      </div>
      </ion-col> -->
   <!-- {{page}} -->
    <div class="iframe_container">
      <iframe  class= "animated fadeInUp" id="iframe1" [src]='page' frameborder="0" > 
         <!--  <img src="img/video-icon.png"> -->
      </iframe>
      
   </div> 
</ion-content>
<ion-footer class="bar-stable gb-color">
   <center class="manage-me" (click)="scrollTo()">
      <img src="img/arrow-down.png" width="25" height="15">
   </center>
</ion-footer>